@model List<yungching_MVC.Models.Shipper>
@{
    ViewData["Title"] = "Home Page";
}
<form style="margin-left:10px;" method="get" action="/Home/Index">
    @{
        foreach (var i in Model)
        { 
        <div> ID:  @Html.DisplayName(i.ShipperId.ToString())</div>
        <div> CompanyName:  @Html.DisplayName(i.CompanyName))</div>
        <div> Phone:  @Html.DisplayName(i.Phone))</div>
        }

    }
    </form>
